___

# Ejercicio 2 de Pandas: Ecommerce (compras)

En este ejercicio, se le proporcionarán datos falsos sobre algunas compras realizadas a través de Amazon. Por favor siga las instrucciones y complete las tareas propuestas. 

La mayoría de las tareas se pueden resolver de diferentes maneras. El nivel de dificultad es incremental.

Disculpe cualquier cosa que no tenga sentido en el "mundo real", todos los datos son falsos y fueron inventados para este taller.

También tenga en cuenta que todas estas preguntas se pueden responder con una línea de código.
____
** Importe pandas y lea en el archivo de compras de comercio electrónico (compras.csv) y almacénelo en un dataframe llamado ecom. **
____

In [0]:
# ESCRIBA SU CODIGO AQUI 
import pandas as pd

In [0]:
# ESCRIBA SU CODIGO AQUI 
ecom = pd.read_csv("compras.csv")

** Muestre las primeras 5 filas del DataFrame para verificar que leyó los datos correctamente. **

In [0]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
ecom.head(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [0]:
# NO USAR ESTA CELDA

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** ¿Cuántas filas y columnas hay? **

In [0]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [0]:
# NO USAR ESTA CELDA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** ¿Cuál es el precio de compra promedio (Purchase Price)? **

In [0]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [0]:
# NO USAR ESTA CELDA

50.34730200000025

** ¿Cuál fue el precio de compra máximo? ¿y el mínimo? **

In [0]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [0]:
# NO USAR ESTA CELDA

99.99

In [0]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [0]:
# NO USAR ESTA CELDA

0.0

** ¿Cuánta gente tiene Español 'es' como su idioma (Language) en la página web? **

In [0]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
ecom[ecom["Language"]=="es"].count()

Address             1095
Lot                 1095
AM or PM            1095
Browser Info        1095
Company             1095
Credit Card         1095
CC Exp Date         1095
CC Security Code    1095
CC Provider         1095
Email               1095
Job                 1095
IP Address          1095
Language            1095
Purchase Price      1095
dtype: int64

In [0]:
# NO USAR ESTA CELDA

Address             1095
Lot                 1095
AM or PM            1095
Browser Info        1095
Company             1095
Credit Card         1095
CC Exp Date         1095
CC Security Code    1095
CC Provider         1095
Email               1095
Job                 1095
IP Address          1095
Language            1095
Purchase Price      1095
dtype: int64

** ¿Cuánta gente tiene el cargo (Job) de abogado ('Lawyer')? **

In [0]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [0]:
# NO USAR ESTA CELDA

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
Address             30 non-null object
Lot                 30 non-null object
AM or PM            30 non-null object
Browser Info        30 non-null object
Company             30 non-null object
Credit Card         30 non-null int64
CC Exp Date         30 non-null object
CC Security Code    30 non-null int64
CC Provider         30 non-null object
Email               30 non-null object
Job                 30 non-null object
IP Address          30 non-null object
Language            30 non-null object
Purchase Price      30 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

** ¿Cuánta gente hizo la compra durante la mañana (AM) y cuántos durante la tarde (PM)? **

In [0]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [0]:
# NO USAR ESTA CELDA

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** ¿Cuáles son los 5 cargos (Jobs) más comunes? **

In [0]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [0]:
# NO USAR ESTA CELDA

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

** Alguien hizo una compra desde Lot: "90 WT", ¿cuál fue el precio de compra de esta transacción? **

In [0]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [0]:
# NO USAR ESTA CELDA

513    75.1
Name: Purchase Price, dtype: float64

** ¿Cuál es el email de la persona con el número de tarjeta de crédito: 4926535242672853? **

In [0]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [0]:
# NO USAR ESTA CELDA

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** ¿Cuántas personas tienen tarjetas American Express *e* hicieron una compra por más de $95?**

In [0]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [0]:
# NO USAR ESTA CELDA

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

** ¿Cuántas personas tienen una tarjeta de crédito que expira en 2025? **

In [0]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [0]:
# NO USAR ESTA CELDA

1033

** ¿Cuáles son los 5 proveedores de correo electrónico más comunes? (e.g. gmail.com, yahoo.com, etc...) **

In [0]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [0]:
# NO USAR ESTA CELDA

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

** ¿Cree dos nuevos dataframes del dataframe ecom ('Purchase Price', 'Job') y realice la concatenación en un nuevo dataframe **

In [0]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [0]:
# NO USAR ESTA CELDA

      Purchase Price                                     Job
0              98.14  Scientist, product/process development
1              70.73                       Drilling engineer
2               0.95                Customer service manager
3              78.04                       Drilling engineer
4              77.82                             Fine artist
5              25.15                       Fish farm manager
6              88.56                                  Dancer
7              44.25                         Event organiser
8              59.54                       Financial manager
9              95.63                      Forensic scientist
10             96.89           Development worker, community
11             19.26                 Diagnostic radiographer
12             39.65                      Surveyor, quantity
13              8.93    Accountant, chartered public finance
14             24.18                           Acupuncturist
15             71.78                          Retail manager
16             84.44                          Therapist, art
17             58.68                     Designer, jewellery
18             70.15                            Photographer
19             58.39              Designer, interior/spatial
20             30.33                Public relations officer
21             90.93                 Presenter, broadcasting
22             33.62                          Retail manager
23             97.97                      Field seismologist
24             85.31                                Musician
25              6.25        Training and development officer
26             17.75                       Barrister's clerk
27             39.40                         Careers adviser
28             70.75     Scientist, research (life sciences)
29             82.16                       Recycling officer
...              ...                                     ...
9970           17.76                     Electrical engineer
9971           65.06                          Therapist, art
9972           18.10                  Sales professional, IT
9973           83.30               Editor, magazine features
9974           66.45                        Sports therapist
9975            3.77               Education officer, museum
9976           37.73                      Furniture designer
9977           94.93                     Biomedical engineer
9978           14.49            Designer, exhibition/display
9979           14.55                                  Lawyer
9980           16.05                        Textile designer
9981           63.61         Environmental education officer
9982           56.25                      Restaurant manager
9983           47.70     Scientist, research (life sciences)
9984           33.57                   Editor, commissioning
9985           46.33              Designer, interior/spatial
9986           22.02                              Cabin crew
9987           60.83                  Primary school teacher
9988           89.76                      Charity fundraiser
9989           17.18            Community development worker
9990           18.35                     Early years teacher
9991           25.93                   IT sales professional
9992           67.96                            Set designer
9993           65.61            Designer, exhibition/display
9994           31.85               Education officer, museum
9995           82.21                              Printmaker
9996           25.63                         Energy engineer
9997           83.98                      Veterinary surgeon
9998           38.84                Local government officer
9999           67.59                  Embryologist, clinical

[10000 rows x 2 columns]

** Ordene el nuevo dataframe generado by ('Purchase Price')**

In [0]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [0]:
# NO USAR ESTA CELDA

      Purchase Price                                      Job
5487            0.00                            Stage manager
2876            0.00                     Biomedical scientist
6863            0.01               Television camera operator
8656            0.02    Product/process development scientist
2783            0.02                               IT trainer
550             0.03             Research officer, government
6647            0.03              Civil engineer, contracting
4280            0.04                         Surveyor, mining
8937            0.06                Radio broadcast assistant
2657            0.07                              Optometrist
8731            0.08                    Multimedia specialist
1530            0.10                      Surveyor, insurance
1691            0.12                 Magazine features editor
2438            0.14                  Insurance risk surveyor
9642            0.16                         Therapist, music
3882            0.16                 Arts development officer
5156            0.18                                      Sub
366             0.19                       Secretary, company
1650            0.20                     Broadcast journalist
1154            0.20                        Systems developer
9694            0.20                 Insurance claims handler
3312            0.20                   Embryologist, clinical
2418            0.21                       Charity fundraiser
6620            0.22                   Holiday representative
559             0.22                      Hospital pharmacist
1021            0.24                               Printmaker
9704            0.25                      Engineer, materials
6083            0.26           Chartered certified accountant
1221            0.27                Occupational psychologist
3227            0.29                   Applications developer
...              ...                                      ...
6388           99.71                  Horticulturist, amenity
2499           99.71                   Recruitment consultant
5967           99.71                          Games developer
7214           99.71                        Medical secretary
177            99.72                              Chiropodist
846            99.73                       Veterinary surgeon
4731           99.74  Scientist, research (physical sciences)
9934           99.75                Consulting civil engineer
1587           99.75                    Community arts worker
8023           99.76                        Food technologist
842            99.77                                Ecologist
179            99.79                        Psychiatric nurse
7381           99.81                         Fashion designer
2264           99.85                            Archaeologist
9958           99.86              Industrial/product designer
7533           99.86                   Occupational hygienist
2417           99.88   Scientist, product/process development
2773           99.89                     Merchandiser, retail
7482           99.90         Accountant, chartered management
3079           99.90                    Environmental manager
6441           99.90                   Engineer, agricultural
4148           99.90               Nurse, learning disability
4839           99.91                         Surveyor, mining
2316           99.92                          Careers adviser
6263           99.92                             Tree surgeon
3844           99.93               Television camera operator
7604           99.95                  Teacher, primary school
9856           99.97                            Site engineer
7807           99.99                      Surveyor, insurance
2092           99.99                   Surveyor, hydrographic

[10000 rows x 2 columns]

** Ordene el nuevo dataframe generado by ('Job')**

In [0]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [0]:
# NO USAR ESTA CELDA

      Purchase Price                    Job
9931           64.41     Academic librarian
4214           56.46     Academic librarian
8499           22.56     Academic librarian
7769           95.15     Academic librarian
3914           15.37     Academic librarian
8234           65.87     Academic librarian
6589            0.76     Academic librarian
2339           65.67     Academic librarian
7103           29.55     Academic librarian
1646           58.66     Academic librarian
1461           53.01     Academic librarian
6564           33.63  Accommodation manager
9628           57.89  Accommodation manager
963            24.02  Accommodation manager
5923           19.95  Accommodation manager
7741           58.07  Accommodation manager
1306           48.58  Accommodation manager
2422            9.06  Accommodation manager
4509           34.62  Accommodation manager
4013           32.28  Accommodation manager
287            57.01  Accommodation manager
5808            5.48  Accommodation manager
9613           30.17  Accommodation manager
4166           40.63  Accommodation manager
7513           28.39  Accommodation manager
1132           80.78  Accommodation manager
7777           57.64  Accommodation manager
4950           11.45  Accommodation manager
4778            4.14  Accountant, chartered
2376           44.78  Accountant, chartered
...              ...                    ...
160            41.00     Wellsite geologist
5208           60.39     Wellsite geologist
4948           76.17                 Writer
3545           41.47                 Writer
4791           42.07                 Writer
1035           21.10                 Writer
3881           38.67                 Writer
8744            5.94                 Writer
9150           10.26                 Writer
877            67.99                 Writer
4163           92.33                 Writer
4064           52.63                 Writer
3281           19.66           Youth worker
5616           33.26           Youth worker
6846           39.89           Youth worker
4923           19.95           Youth worker
2289            9.12           Youth worker
7931           44.05           Youth worker
405            98.62           Youth worker
1318           90.47           Youth worker
875             8.33           Youth worker
1732            4.68           Youth worker
4867           38.99           Youth worker
4308           82.12           Youth worker
2074           35.71           Youth worker
801             5.40           Youth worker
9962           47.90           Youth worker
7489           39.12           Youth worker
1030           18.00           Youth worker
9329           93.97           Youth worker

[10000 rows x 2 columns]

** Realice la concatenación de 'CC Security Code' y 'CC Provider' usando .join**

In [0]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [0]:
# NO USAR ESTA CELDA

      CC Security Code                  CC Provider
0                  900                 JCB 16 digit
1                  561                   Mastercard
2                  699                 JCB 16 digit
3                  384                     Discover
4                  678  Diners Club / Carte Blanche
5                 7169                     Discover
6                  714                VISA 16 digit
7                  256                VISA 13 digit
8                  899                 JCB 16 digit
9                  931             American Express
10                 754                      Voyager
11                9717                 JCB 15 digit
12                 119                VISA 16 digit
13                 557                VISA 16 digit
14                 427                VISA 16 digit
15                 404  Diners Club / Carte Blanche
16                 285  Diners Club / Carte Blanche
17                 771             American Express
18                 767                   Mastercard
19                 440                VISA 16 digit
20                 740                      Maestro
21                 506                 JCB 16 digit
22                 508                     Discover
23                  60                VISA 13 digit
24                  11                 JCB 15 digit
25                 901                      Voyager
26                  70                VISA 13 digit
27                 310  Diners Club / Carte Blanche
28                  16                 JCB 15 digit
29                 319                      Maestro
...                ...                          ...
9970               543                     Discover
9971               586                      Voyager
9972               748                VISA 13 digit
9973              2708             American Express
9974               627                VISA 16 digit
9975               225                 JCB 16 digit
9976               291                VISA 16 digit
9977               397                 JCB 16 digit
9978               589                     Discover
9979               224                 JCB 16 digit
9980               755                 JCB 15 digit
9981               695                   Mastercard
9982                79                 JCB 16 digit
9983               206                 JCB 16 digit
9984               572                      Maestro
9985               847                VISA 16 digit
9986               460                 JCB 16 digit
9987               865                   Mastercard
9988               571  Diners Club / Carte Blanche
9989               996                VISA 16 digit
9990               877                 JCB 15 digit
9991               969                      Voyager
9992               431                     Discover
9993               629                      Maestro
9994              1823                      Maestro
9995               838                 JCB 15 digit
9996               207                 JCB 16 digit
9997                 1                VISA 16 digit
9998               987             American Express
9999               302                 JCB 15 digit

[10000 rows x 2 columns]

** Extra: Crear dos dataframes y hacer un merge con 'subject_id' **

In [0]:
# NO USAR ESTA CELDA (Dataframe 1)

  subject_id  test_id
0          1       51
1          2       15
2          3       15
3          4       61
4          5       16
5          7       14
6          8       15
7          9        1
8         10       61

In [0]:
# NO USAR ESTA CELDA (Dataframe 2)

  subject_id first_name  last_name
0          0       Alex   González
1          1     Andres   Martínez
2          2    Aurelio    Perdomo
3          3     Alicia  Rodríguez
4          4       Beto     Cediel
5          5      Bryan       Bula
6          6    Gustavo   Restrepo
7          7      Oscar       Lara
8          8     Leonel  Contreras

In [0]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [0]:
# NO USAR ESTA CELDA

  subject_id  test_id first_name  last_name
0          1       51     Andres   Martínez
1          2       15    Aurelio    Perdomo
2          3       15     Alicia  Rodríguez
3          4       61       Beto     Cediel
4          5       16      Bryan       Bula
5          7       14      Oscar       Lara
6          8       15     Leonel  Contreras